body{
 background-color: silver;
 margin:0px 0px 0px 0px;
 font-family:"calibri";
}
#header{
 background-color:#329A97;
 text-align:center;
 padding-bottom:2px;
 padding-top: 2px;
}
#header h1{
  background-color: darkblue;
  display: table;
  text-align: center;
  margin-left: 425px;
}
#header img{
  height: 200;
  width: 200;
}
#header h1{
 padding-bottom: 0px;
 text-align:center;
 color:white;
 letter-spacing:5px;
}
}
#nav{
 width:60%;
 margin:auto;
}
#nav a,#btn{
 background-color:red; /* Yellow */
 width:150px;
 border:solid 2px #329A97; /* Teal Green */
 font-size:20px;
 text-decoration:none;
 color:white;
 padding-left:25px;
 padding-right:25px;
}
#editdelete a{
  background-color:red;
  color:white;
}
#nav a:hover,#editdelete a:hover,#btn:hover{
  background-color:yellow;
  color:green;
}
#main{
 margin: auto;
 border:solid 1px lightgray;
 width:100%;
 padding:5px;
 margin-top:5px;
}
#main form, #main h2{
 text-align:center;
}
#main table {
 width:100%;
 text-align:center;
 color:darkblue;
 font-size: 20px;
}
#main table th{
 background-color: #329A97;
 color:white;
 font-size: 20px;
}
.btn{
 background-color:#F4FA3C; /* Yellow */
 width:150px;
 border:solid 2px #329A97; /* Teal Green */
 font-size:18px;
 text-decoration:none;
 color:#329A97;
 padding-left:0px;
 padding-right:0px;
}
#btn{
  margin-top: 20px;
}
#hello{
 text-align:right;
 margin-right:50px;
 font-size:20px;
 color:white;
 background-color: black;
}
