<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Issue Book</title>
  <link rel="stylesheet" href="{% static 'css/librarystyle.css'%}">
</head>
<body>
  <div id="header">
    <h1>Library Management System</h1>
    <div id="nav">
      <h2>Return Book</h2>
      <a href="/LBapp/add-book">Add NewBook</a>
      <a href="/LBapp/view-book">View BookDetails</a>
      <a href="/LBapp/search-book">Search Books</a>
      <a href="/LBapp/view-book">Issue Book</a>
      <a href="/LBapp/show-detail">Issued Book Details</a>
      <!--<a href="/LBapp/display-detail">Return Book Details</a>-->
      <a href="/LBapp/logout">Logout</a>
    </div>
  </div>

  <div id="main">
    <form action="/LBapp/return-issue" method="post">
      {% csrf_token %}
      <input type="hidden" name="bookid" value="{{book.id}}">
      <input type="hidden" name="book1id" value="{{book1.id}}">
      {{form}}
      <input type="submit" value="Return">
    </body>
    </html>
