<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Search Your Book</title>
  <link rel="stylesheet" href="{% static 'css/librarystyle.css' %}">
</head>
<body>
  <div id="header">
    <h1>Library Management System</h1>
    <div id="nav">
      <h3>View Book Details</h3>
      <a href="/LBapp/add-book">Add NewBook</a>
      <a href="/LBapp/view-book">View BookDetails</a>
      <a href="/LBapp/show-detail">Issued Book Details</a>
      <!--<a href="/LBapp/display-detail">Return Book Details</a> -->
      <a href="/LBapp/logout">Logout</a>
    </div>
  </div>
  <div id="main">
    <h2>Search Book Details</h2>
    <form action="/LBapp/search" method="post">
      {% csrf_token %}
      {{form}}
      <input type="submit" value="Search">
    </form>
    {% if books %}
    <table>
      <thead>
        <th>Book ID</th>
        <th>Book No</th>
        <th>Book Name</th>
        <th>Author</th>
        <th>Date</th>
        <th>Price</th>
        <th>Quantity</th>
      </thead>
      {% endif %}
      {% for book in books %}
      <tr>
        <td>{{book.id}}</td>
        <td>{{book.booknumber}}</td>
        <td>{{book.name}}</td>
        <td>{{book.author}}</td>
        <td>{{book.date}}</td>
        <td>{{book.price}}</td>
        <td>{{book.quantity}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</body>
</html>
